* {
    margin: 0;
}

.c-mainpage {
display: flex;
width: 100%;
height: 100vh;
}

.c-mainpage-left_menu {
    
    height: 100vh;
    width: 80px;
    background-color: #180F4F;

}

.icon {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: 25px;  
    
}


.c-mainpage-left_menu-icons {
    width: 100px;
    padding: 100px 0 0 18px;   
}

/* NAVIGATION  */

.c-mainpage-navigation {
    height: 100vh;
    width: 400px;
    background-color: #EAEAEA;
}

.c-mainpage-navigation-title {
    font-size: 60px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}
.margin {
    margin-top: 25px;
}

.c-mainpage-navigation-wrapper {
    width: 80%;
    margin: 50px auto;
}

.c-mainpage-add-dep {
    width: 133px;
    height: 50px;
    border-radius: 34px;
    border-style: none;
    outline: none;
}

/* CONTENT  */

.c-mainpage-content {
    width: 100%;
}

.c-mainpage-content-avatar {
    display: flex;
    width: 30%;
    float: left;
    
}

.c-mainpage-content-wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;    
}

.table {
    margin-left: 95px;
    color: #ADADAD;
}

.c-mainpage-add-man {    
    width: 160px;
    height: 50px;
    display: block;
    border-radius: 34px;
    border-style: none;
    outline: none;
    margin: 50px 0 0 50px;    
}
